<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>phone-mercadoliebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="todo">
    <div class="loguito">
        <img  src="..\public\logo-2.png" alt="logo" class="imagen">

        <h1 class="h1">Lorem ipsum dolor sit amet consectetur.</h1>
        <br>
    </div>
    <br><br>
    <div class="textomedio">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla temporibus mollitia dignissimos aliquam suscipit maiores voluptate odit eaque delectus officiis itaque dolorem a porro perferendis deleniti, modi amet eligendi praesentium.</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint autem exercitationem perspiciatis asperiores, expedita in explicabo ipsum molestiae illo sequi deleniti minima similique iure assumenda?</p>
    </div>
    
    <hr>
    
    <h3 class="titulo4">Lorem, ipsum dolor.</h3>
    
    
    <img src="..\public\banner_newsletter.png" alt="banner" class="imagen">
    <h2 class="titulo2">Lorem ipsum dolor sit.</h2>
    <a class="link" href="https://www.google.com/">Lorem ipsum dolor =></a>
    <hr>
    <h3 class="titulo4">Lorem ipsum dolor sit.</h3>
    <h2 class="titulo2">Lorem ipsum dolor sit amet consectetur.</h2>
    <br>
    <p class="textomedio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, quam ipsum molestiae est ea totam, eveniet animi exercitationem similique cumque illum officiis ut. Similique, qui numquam.</p>
    <br>
    <hr>
    <div class="enlaces">
        <ul>
            <li><a href="https://www.facebook.com/">facebook</a></li>
            <li><a href="https://www.instagram.com/">Instagram</a></li>
            <li><a href="https://twitter.com/">twitter</a></li>
            <li><a href="https://github.com/">Github</a></li>
        </ul>
    </div>
    
    <br>
    <div class="textomedio">
        <p>
            Saludos
            <br>
            Uri y Ale
        </p>
    </div>
    
    <hr>
    <small class="piepagina">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quae aspernatur nemo dolore labore iste atque sapiente magnam explicabo fuga architecto commodi, tempore molestiae laboriosam suscipit maxime laborum. Laudantium, quos. Nesciunt facere ducimus obcaecati atque cupiditate? Facere omnis adipisci distinctio commodi dolores sint, officiis laboriosam nulla eveniet quos dolor magnam, molestias veritatis inventore aliquam possimus ex. In soluta mollitia deserunt?</small>

</body>
</html>